@page "/aboutme"
@using BitbyBitBlog.Components;

<h3>AboutMe</h3>

<img src="../Images/Alvaro.png" width="300"  height="400">

<div class="intro">
    <p>
        Hello! My Name is Alvaro Montoya. Welcome to the BitbyBit Blog. I hope this can be a resource for you to learn and keep up with me.
    </p>
    <p>
        I earned my Bachelor's degree in Computer Engineering at the University of Cental Florida. I, then, earned my Master's degree in Computer Science at the University of Syracuse. 
        I have been a professional software developer since 2015 working in a variety of roles. I have been a QA developer, simulation content developer, software developer, and a 
        DevOps Engineer working with various Cloud technologies.
    </p>
    <p>
        My strengths are working in .NET C# and previously in C++. Mostly programming CLI/GUI tools. Additionally I have experience in creating backend APIs that interface with databases. Recently, I have
        been working with frontend development and DevOps engineering. I have experience working in JavaScript Frameworks such as Angular. I created this Blog using .NET Blazor. I have worked as a DevOps Engineer developing
        environments in the Cloud to manage company projects, stand up CI/CD pipelines, automatically create reusable testing/development VM environments, and creating a PaaS enviroment for our customers.
        I am familiar with Azure and Atlassian tool suites to accomplish the forementioned tasks.
    </p>
    <p>
        I created this blog to keep a record of the things I have learned during my career and offer this knowledge to anyone who it might help. 
    </p>
    <p>
        For further information please refer to my resume. To view any code presented in my blogs or this site itself please visit my GitHub page. Enjoy!
    </p>

      <p>
        Hello! My Name is Alvaro Montoya. Welcome to the BitbyBit Blog. I hope this can be a resource for you to learn and keep up with me.
    </p>
    <p>
        I earned my Bachelor's degree in Computer Engineering at the University of Cental Florida. I, then, earned my Master's degree in Computer Science at the University of Syracuse. 
        I have been a professional software developer since 2015 working in a variety of roles. I have been a QA developer, simulation content developer, software developer, and a 
        DevOps Engineer working with various Cloud technologies.
    </p>
    <p>
        My strengths are working in .NET C# and previously in C++. Mostly programming CLI/GUI tools. Additionally I have experience in creating backend APIs that interface with databases. Recently, I have
        been working with frontend development and DevOps engineering. I have experience working in JavaScript Frameworks such as Angular. I created this Blog using .NET Blazor. I have worked as a DevOps Engineer developing
        environments in the Cloud to manage company projects, stand up CI/CD pipelines, automatically create reusable testing/development VM environments, and creating a PaaS enviroment for our customers.
        I am familiar with Azure and Atlassian tool suites to accomplish the forementioned tasks.
    </p>
    <p>
        I created this blog to keep a record of the things I have learned during my career and offer this knowledge to anyone who it might help. 
    </p>
    <p>
        For further information please refer to my resume. To view any code presented in my blogs or this site itself please visit my GitHub page. Enjoy!
    </p>
</div>


<SocialMedia></SocialMedia>