@page "/blog"
@using BitbyBitBlog.Components;

<h3>Blog</h3>

<div class="blogPosts">
    <BlogPostPreview>

    </BlogPostPreview>
    <BlogPostPreview>

    </BlogPostPreview>
    <BlogPostPreview>

    </BlogPostPreview>
    <BlogPostPreview>

    </BlogPostPreview>
</div>