@page "/blog"
@using BitbyBitBlog.Components;

<h3>Blog</h3>

<div class="blogPosts">
    @foreach(BlogPostPreview preview in blogPostPreviews)
    {
        <BlogPostPreview ImageFilePath="@preview.ImageFilePath" BlogPostPreviewText="@preview.BlogPostPreviewText">
        </BlogPostPreview>
    }
</div>