@page "/blog"
@using BitbyBitBlog.Components;
@using BitbyBitBlog.Models

@inject HttpClient _client;

<h3>Blog</h3>

<div class="blogPosts">
    @foreach(BlogPost preview in blogPostPreviews)
    {
        <div>
            <BlogPostPreview Id="@preview.Id" 
                         Title="@preview.Title" 
                         ImageFilePath="@preview.BlogPostPreview.ImageFilePath" 
                         BlogPostPreviewText="@preview.BlogPostPreview.BlogPostPreviewText">
            </BlogPostPreview>
        </div>

    }
</div>