################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitbyBitBlog/bin/Debug/net5.0
.vs/
/BitbyBitBlog/obj
/BitbyBitBlog/bin/Debug/net6.0
/BitbyBitBlog/.config
/BitbyBitBlog/bin/Release/net6.0
