################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorApp1/obj/Container
/BitbyBitBlog/bin/Debug/net5.0
/.vs