<img src="https://uploads.toptal.io/blog/image/125395/toptal-blog-image-1518187252525-03f6db7b1c131066061024c236c7e3ff.png" 
alt="Lamp" width="320" height="220" align="left" margin=60px>
<h1 margin="60px">Your title goes here.</h1>
<p>How to make a blog using Angular and HTML/CSS. 
  We will discuss Project Setup, installing Angular, project structure, Angular basics, and other related topics!
  How to make a blog using Angular and HTML/CSS. 
  We will discuss Project Setup, installing Angular, project structure, Angular basics, and other related topics!
  How to make a blog using Angular and HTML/CSS. 
  We will discuss Project Setup, installing Angular, project structure, Angular basics, and other related topics!
  How to make a blog using Angular and HTML/CSS. 
  We will discuss Project Setup, installing Angular, project structure, Angular basics, and other related topics!
 </p>