<div class="previewContainer" >
    <img src="@ImageFilePath" width="200" height="200">
    <div class="blogPreviewTextContainter">
        <h2>
            <a href="blog/@Id">@Title</a>
        </h2>
        <p>
            @BlogPostPreviewText
        </p>
    </div>
   
</div>

@code {

}
