@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@*<MudLayout>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                <MudMainContent>
                    <MudPaper>
                        @Body
                    </MudPaper>
                </MudMainContent>
            </div>
        </div>
    </div>
</MudLayout>
<button @onclick="@(async _ => await ToggleThemeAsync())"> HELLLOWROJKAVDF </button>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_currentTheme" />
<MudThemeProvider Theme="_currentTheme" />*@