@using MudBlazor.Utilities
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<MudThemeProvider Theme="@_bitByBitTheme" />
@*<MudThemeProvider />*@
<MudDialogProvider />
<MudSnackbarProvider />

@code 
{
    public MudTheme _bitByBitTheme = new MudTheme()
    {
        Palette = new Palette
        {
            OverlayDark = "#424242ff",
            //TextPrimary = "#ffffffff"
        }
    };
}

@*<MudLayout>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                <MudMainContent>
                    <MudPaper>
                        @Body
                    </MudPaper>
                </MudMainContent>
            </div>
        </div>
    </div>
</MudLayout>
<button @onclick="@(async _ => await ToggleThemeAsync())"> HELLLOWROJKAVDF </button>
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_currentTheme" />
<MudThemeProvider Theme="_currentTheme" />*@